.spotshow-page-container {
  display: flex;
  flex-direction: column;
}

.spotshow-img-container {
  display: flex;
  width: 100%;
  height: 30vw;
  column-gap: 10px;
  margin-top: 15px;
}

.spotshow-img-container>img {
  width: 48%;
}

.spotshow-imgs-right {
  width: 48%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.spotshow-imgs-right>img {
  width: 100%;
  height: 14.5vw;
}

.details-info-container {
  display: flex;
  justify-content: space-between;
}

.price-review-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px grey;
  padding: 15px;
  gap: 15px;
  border-radius: 15px;
  ;
}

.price-review-box>p {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.details-info-container {
  margin-top: 10px;
  padding-bottom: 20px;

  border-bottom: solid 2px grey;
}

/* reviews */
.review-list-container {
  margin-top: 15px;
}

/* reserve */
.reserve-button {
  align-self: center;
  color:white;
  width: 80%;
  font-size: 16px;
  height: 35px;
  background-color: rgb(214, 4, 101);
  border-radius: 5px;
  box-shadow: 5px 5px 5px solid black;
}

.review-list-container>p {
  width: 150px;
  text-align: center;
  font-size: 18px;
  border: solid 1px black;
  border-radius: 8px;
  margin: 10px 10px 15px;
  padding: 5px;
  background-color: rgb(206, 204, 204);
}

.review-list-container>p:hover {
  cursor: pointer;
}
