/* .spot-card-container {
  width: 100%;
  height: 22vw;
  text-decoration: none;
  padding-bottom: 8px;
  margin-bottom: 50px;
}

.spot-card-container>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
} */

.spot-card-container {
  width: 100%;
  height: auto;
  text-decoration: none;
  position: relative;
  z-index: 0;
  /* padding-bottom: 8px;
  margin-bottom: 50px; */
  margin-top: 13px;
}
.spot-card-container>img {
  object-fit: cover;
  width: calc((95vw - 100px)/6);
  max-width: 380px;
  height: calc((95vw - 100px)/6);
  max-height: 380px;
  border-radius: 12px;
}

.spot-card-container span {
  color: grey;
}

.spot-card-container .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  padding: 2px 8px 2px;
  border-radius: 15px;
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;
}

.spot-card-container:hover .tooltiptext {
  visibility: visible;
}

.spot-card-address-review {
  display: flex;
  justify-content: space-between;
}
