/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --rausch-color: rgb(255, 90, 95);
  --darkred-color: rgb(238, 53, 53);
  --arches-color:rgb(252, 100, 45);
  --babu-color: rgb(0, 166, 153);
}

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;

}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 100px);
  max-width: 2400px;
  margin: 0px 50px 20px;
  /* margin: 0; */
  padding: 0;
  border: 0px;
  position: relative;

  /* width: 100%;
  max-width: 2400px;
  margin: 20px auto 20px; */

}
