.review-form-container {
  padding: 10px 0px 10px;
  align-items: center;
  min-width: 300px;
}

.review-form-container > h3 {
  text-align: center;
}


.review-form-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.review-context {
  min-width: 250px;
  width: 100%;
  height: 100px;
}

.review-star-container {
  display: flex;
  justify-content: center;
}

.review-form-container .startButton {
  width: 250px;
}
