

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-button-container {
    font-size: larger;
    /* color: red; */
    width: auto;
    height:60px;
}
