.profile-dropdown {
    position: absolute;
    top:65px;
    right: 25px;
    background-color: white;
    border: solid 1px rgb(200, 200, 200);
    width: 140px;
    border-radius: 15px;
    padding: 0;
    font-size: 18px;
    box-shadow: 1px 1px 1px rgb(200, 200, 200);
}

.profile-dropdown>p {
    /* border: solid 1px red; */
    margin: 0;
    padding: 5px;
    padding-left: 10px
}
.profile-dropdown>p:first-child {
    margin-top: 10px;
}

.profile-dropdown>p:last-child {
    margin-bottom: 10px;
}

.profile-dropdown>p:hover{
    cursor: pointer;
    background-color: rgb(240, 238, 238);
}

p.hello-user:hover{
    cursor:default;
    background-color: white;
}

.hidden {
    display: none;
}

.right-memu-container {
    display: flex;
    gap: 15px
}

.creat-spot-button {
    border: none;
    background-color: white;
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
    padding:10px;
}

.creat-spot-button:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

.user-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: white;
    border: solid 1px rgb(197, 197, 197);
    border-radius: 25px;
    padding: 8px;
    padding-left: 14px;
}

.user-icons-container:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(200, 200, 200);
}
